@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Roboto:ital,wght@0,400;1,300&display=swap");

.top-text {
  font-family: Lustria, serif;
  text-transform: uppercase;
  color: #00aeef;
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  padding-bottom: 7.5rem;
  transition: ease-out 0.25s;
  font-size: 6rem;
  user-select: none;
}

.sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub p {
  transition: ease-out 0.25s;
  font-size: 1.5rem;
  font-family: Roboto, serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 85%;
  padding-top: 7.55rem;
  user-select: none;
}

.sub form {
  min-width: 450px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

input {
  border: #00aeef solid 1px;
}

input::placeholder {
  font-family: Roboto, sans-serif, monospace;
  font-style: italic;
  color: #21226275;
}

button {
  background-color: rgb(50, 138, 189);
  color: #000000;
  transition: ease-out 0.25s;
  font-size: 1.25rem;
}

@media screen and (max-width: 1300px) {
  .top-text {
    transition: ease-in 0.25s;
    font-size: 4rem;
  }
  .sub p {
    transition: ease-in 0.25s;
    font-size: 1.3rem;
    font-family: Roboto, serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 85%;
    padding-top: 5.55rem;
  }
}

@media screen and (max-width: 850px) {
  .top-text {
    transition: ease-in 0.25s;
    font-size: 2.5rem;
  }
  .sub p {
    transition: ease-in 0.25s;
    font-size: 1.2rem;
    font-family: Roboto, serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 85%;
    padding-top: 5rem;
  }
  button {
    transition: ease-in 0.25s;
    font-size: 1rem;
  }
}
